.project 
    .project__wrapper(style="--aspect-ratio: 836/1075")(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0")
        figure
            img(src="../../images/Photographer_avatar.png", alt="Photographer avatar")
        .project__cnt
            .project__title(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
                h2 Let’s dicuss new project
            .project__contact(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
                p +82)010-3026-3156
            .project__email(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
                a(href="#", title="email") jordanalex@gmail.com 