.ph.featured(data-aos="fade-down") 
    .featured__container(data-aos="fade-up")
        .featured__header(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="3000")
             h2 Featured Works 
             .featured__button 
                a(href="#" ,title="view all")  VIEW ALL
        .featured__carousel
            .featured__content
                figure 
                    img(src="/images/Mask Group.png", alt="Mask image")
            .featured__content
                figure 
                    img(src="/images/Mask Group (1).png", alt="Mask image 1")
            .featured__content
                figure
                    img(src="/images/Mask Group (2).png", alt="Mask image 2")
            .featured__content
                figure 
                    img(src="/images/Mask Group (3).png", alt="Mask image 3")
            .featured__content
                figure
                    img(src="/images/Mask Group (4).png", alt="Mask image 4")
            .featured__content
                figure 
                    img(src="/images/Mask Group (5).png", alt="Mask image 5")
    hr
        