.ph.herobanner
    .herobanner__logo-wrapper 
        h1(data-aos="fade-down-right" data-aos-duration="3000") UNSPLASH
        h2(data-aos="fade-down-left" data-aos-duration="3000") Photograpger of the year