.ph.tab
    .tab__header  
        .tab__button(data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000")
            h2 PRODUCT 
            button 6
        .tab__button(data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000")
            h2 PORTRAITS
            button 5
    .tab__carousel 
        .tab__content
            figure 
                img(src="/images/image 21.png", alt="Product and Potraits image")
        .tab__content
            figure 
                img(src="/images/image 23.png", alt="Product and Potraits image")
        .tab__content
            figure
                img(src="/images/Mask Group (6).png", alt="Product and Potraits image")
        .tab__content
            figure 
                img(src="/images/Mask Group (7).png", alt="Product and Potraits image")
        .tab__content
            figure
                img(src="/images/Mask Group (8).png", alt="Product and Potraits image")
        .tab__content
            figure
                img(src="/images/Rectangle 31 (1).png", alt="Product and Potraits image")
        .tab__content
            figure
                img(src="/images/Rectangle 31.png", alt="Product and Potraits image")
        .tab__content
            figure
                img(src="/images/Mask Group (4).png", alt="Product and Potraits image")


