include _mixin
-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html(dir=lang == 'ar' ? 'rtl' : 'ltr')
  head
    title Photographer of the year
    
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='ProjectName')
    meta(name='description', content="ProjectName")
    meta(name="title" content="ProjectName")
    meta(name="description" content="ProjectName")
    meta(property="og:type" content="website")
    meta(property="og:url" content="WEBSITEURL.COM")
    meta(property="og:title" content="ProjectName")
    meta(property="og:description" content="ProjectName")
    meta(property="og:image" content="ProjectName/Image.Format")
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="WEBSITEURL.COM")
    meta(property="twitter:title" content="ProjectName")
    meta(property="twitter:description" content="ProjectName")
    meta(property="twitter:image" content="ProjectName/Image.Format")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon", href="favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", type="text/css", href="node_modules/slick-carousel/slick/slick.css")
    link(rel="stylesheet", type="text/css", href="node_modules/slick-carousel/slick/slick-theme.css")
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")

    include _styleLinks
    block stylelinks

    block head
  body(dir=lang == 'ar' ? 'rtl' : 'ltr', class=bodyClass)
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    block header
    main.photographer.main
      block body
    block footer
    include _scriptLinks
    block foot