footer.ph.footer
  .footer__wrap
    .footer__address 
      h3(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200") CURRENTLY
      p(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300") Living in New York, USA,  Freelancing at Pitch Available for fun projects
    .footer__social
      h3(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="400") SOCIAL
      ul 
        p(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1500") Instagram
        p(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1600") Unsplash
        p(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1700") LinkedIn
  .footer__line
  .footer__copyright 
    p Jordan Alex
    p @ Jordan Alex
      
