.ph.freelance  
    .freelance__container 
        h2(data-aos="zoom-in-down") Freezing a moment
        p.freelance__minorlogo(data-aos="zoom-in-left") FREELANCE
        p.freelance__description(data-aos="zoom-out-up" data-aos-duration="3000") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,